.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.box,
.sample-layout>div {
  background-color: #cce4f7;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  border-radius: 4px;
}

.box-stretched {
  height: 100%;
}

.sample-layout {
  margin: 0;
}

.sample-layout>div {
  border: 1px solid #ffffff;
}

.vertical-container {
  margin: 0;
  height: 200px;
  background: #efefef;
  border-radius: 4px;
}

.nested-grid .p-col-4 {
  padding-bottom: 1em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}